<%- include("partials/header") %>
    <h1>Warehouse inventory management</h1>
    <br>
    <h4>Current inventory</h4>
    <table style="min-width: 40%; text-align: center;">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Code</th>
          <th>Weigh</th>
          <th></th>
        </tr>
        <% items.forEach(function(item){ %>
            <tr><td><%= item.name %></td><td><%= item.description%></td><td><%= item.code%></td><td><%= item.quantity%></td><td><%= item.weigh%></td><td><a href='#' class="deleteItem" data-id="<%= item._id %>">Delete</a></td></tr>
        <% }) %>
    </table>
<%- include("partials/footer") %>